version: 2
jobs:
    build:
        docker:
            - image: captorab/emscripten-quantlib:1.19.4

        working_directory: ~/repo

        steps:
            - checkout
            - run: make build_bindings
            - run: npm install
            - run: npm test
